/* Code comment style */
.mtk3 {
    font-family: 'Monaspace Radon', monospace !important;
    font-style: italic !important;
    color: #008c7d !important;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

/* Match Text */
.currentFindMatchInline {
    background: #000 !important;
}

/* Side bar */
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 1px #727b90 solid;
    border-bottom: 1px #727b90 solid;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #fff !important;
    opacity: 1 !important;
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
    font-family: 'Geist Mono', monospace !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    color: #FFF !important;
}

.explorer-item-edited {
    font-family: Geist Mono !important;
    font-size: 14px !important;
}

/* Sidebar top shadow */
.monaco-scrollable-element>.shadow.top {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .75) !important;
    top: -3px !important;
}

/* Sidebar title */
.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #bc9abc !important;
}

.composite.title h2::before {
    display: inline-block;
    margin-right: 6px;
    font-size: 1.1rem;
    content: '♨️';
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
    background: rgba(45, 45, 50, 0.85) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 16px !important;
    border: none !important;
    outline: 0px !important;
}
